.program-info__top {
  width: 100%;
  margin: 0px;
  position: relative;
  overflow: hidden;
}
.program-info__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.program-info__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(101.45deg, #005CC9 0%, rgba(0, 92, 201, 0.5) 99.99%, rgba(0, 92, 201, 0) 100%);
}
.program-info__container {
  width: 100%;
  margin: 0px;
  padding: 16px 64px 48px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
.program-info__caption {
  margin: 0px 0px 12px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
}
.program-info__title {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: var(--white-color);
}
.program-info__tags {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.program-info__tag {
  margin: 8px 12px 0px 0px;
  padding: 8px 12px;
  outline: none;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.program-info__tag:last-of-type {
  margin: 8px 0px 0px 0px;
}
.program-info__tag_type_active {
  color: var(--secondary-color);
  background-color: var(--white-color);
  user-select: none;
  pointer-events: none;
}
.program-info__tag:hover {
  cursor: pointer;
  opacity: .7;
}
.program-info__tag_type_active:hover {
  user-select: none;
  pointer-events: none;
}
.program-info__section-title {
  margin: 20px 0px 8px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--title-color);
}
.program-info__section-subtitle {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
}
.program-info__section-list {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.program-info__section-item {
  width: 100%;
  margin: 0px;
}
.program-info__section-item-title {
  margin: 12px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
}
.program-info__section-item-list {
  width: 100%;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  list-style-type: disc;
}
.program-info__section-item-list_type_row {
  padding: 0px;
  list-style-type: none;
}
.program-info__section-item-list-item {
  width: 100%;
  margin: 4px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
}
.program-info__section-item-list-item_type_row {
  margin: 8px 0px 0px 0px;
}









@media all and (max-width: 767px) {
  .program-info__container {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
  }
  .program-info__caption {
    font-size: 16px;
    line-height: 20px;
  }
  .program-info__title {
    font-size: 32px;
    line-height: 36px;
  }

}