.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0 , 0, .3);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  z-index: 100;
}
.popup_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.popup__container {
  margin: 10vh auto 0px;
  width: max-content;

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 114px;
  max-height: 80vh;
  overflow-y: auto;

  background: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@-moz-document url-prefix() {
  .popup__container {
    overflow-x: hidden;
  }
}
.popup__form {
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.popup__form_height_min {
  min-height: 420px;
}
.popup__form_width_small {
  width: 414px;
}
.popup__form_width_medium {
  width: 520px;
}
.popup__form_width_large {
  width: 800px;
}
.popup__form_width_full {
  width: 1000px;
}
.popup__title {
  margin: 32px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}
.popup__subtitle {
  margin: 24px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.popup__list {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.popup__item {
  display: flex;
  align-items: center;
  margin: 12px 0px 0px 0px;
}
.popup__list-text {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.popup__btn-back {
  margin: 20px 0px 0px 0px;
  width: 100%;
  padding: 11px;
  background: var(--main-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transition: all .3s ease-in-out;
}
.popup__btn-back:hover  {
  cursor: pointer;
  user-select: auto;
  pointer-events: all;
  opacity: .8;
  box-shadow: 0px 8px 12px -8px rgba(0, 55, 196, 0.9);
}
.popup__btn-link {
  background: var(--secondary-color);
  text-decoration: none;
  text-align: center;
}
.popup__input-field {
  margin: 12px 0px 0px 0px;
  width: 100%;
  padding: 10px 16px 10px 16px;
  box-sizing: border-box;
  background: #F1F3F5;
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__input-field_margin_top {
  margin: 0px;
}
.popup__input {
  margin: 0px;
  width: 100%;
  outline: none;
  border: none;
  background: #F1F3F5;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.2px;
  color: var(--title-color);
}
.popup__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--subtitle-color);
}
.popup__input-error {
  margin: 4px 0px 0px 0px;
  min-height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: var(--secondary-color);
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.popup__input-error_status_show {
  opacity: 1;
}

@media all and (max-width: 767px) {
  .popup__container {
    margin: 5vh auto 0px;
    max-height: 90vh;
  }
  .popup__form_width_large {
    width: calc(100vw - 16px);
  }
  .popup__title {
    margin: 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .popup__subtitle {
    margin: 20px 0px 0px 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .popup__list-text {
    font-size: 16px;
    line-height: 20px;
  }
}