
.page {
  --title-color: #262626;
  --subtitle-color: #343434;
  --white-color: #ffffff;
  --background-main-color: #E5E5E5;
  --background-secondary-color: #fafafa;
  --background-third-color: #F3F3F3;
  --main-color: #005CC9;
  --secondary-color: #E00F73;
  --decoration-color: #0D64CD;
  --border-card-color: #DDDDDD;
  --border-radius: 20px;
  color: var(--subtitle-color);
  background-color: var(--background-main-color);
  box-sizing: border-box;
  font-family: 'ProximaNova', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}
.font__weight_bold {
  font-weight: 600;
}
.font__family_macherie {
  font-family: 'MADE Evolve Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font__family_crystal {
  font-family: 'Crystal', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font_color_secondary {
  color: var(--secondary-color);
}
.logo {
  margin: 0px;
  width: 155px;
  height: 40px;
  background-image: url('../../images/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.decoration__lines {
  padding: 0px;
  list-style-type: none;
  position: absolute;
  bottom: -200px;
  right: -600px;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.decoration__lines_type_small {
  position: absolute;
  bottom: -200px;
  right: -400px;
}
.decoration__line {
  margin: 0px 0px 160px 0px;
  width: 1200px;
  height: 100px;
  background-color: var(--decoration-color);
}
.decoration__line_number_one {
  margin: 0px 0px 160px 0px;
}
.decoration__line_number_two {
  margin: 0px 0px 160px 240px;
}
.decoration__line_number_three {
  margin: 0px 0px 160px 480px;
}
.btn_type_download {
  background: var(--secondary-color);
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 12px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 0px;
  position: relative;
  transition: all .3s ease-in-out;
}
.btn_type_download:hover {
  opacity: .7;
  cursor: pointer;
}
.btn_type_download::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url('../../images/download.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.btn_type_link {
  background: var(--secondary-color);
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 12px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 0px;
  position: relative;
  transition: all .3s ease-in-out;
}
.btn_type_link:hover {
  opacity: .7;
  cursor: pointer;
}
.btn_type_link::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url('../../images/link.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
.btn_type_view {
  background: var(--secondary-color);
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 12px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 0px;
  position: relative;
  transition: all .3s ease-in-out;
}
.btn_type_view:hover {
  opacity: .7;
  cursor: pointer;
}
.btn_type_view::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  background-image: url('../../images/view.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
}
.rec.rec-arrow {
  margin: 0px 5px;
  background-color: inherit;
  box-sizing: border-box;
  color: var(--secondary-color);
}
.rec.rec-arrow:hover:enabled {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.rec.rec-dot:hover {
  box-shadow: 0 0 1px 3px rgb(245 56 56 / 40%);
}
.rec.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgb(245 56 56 / 40%);
}
.rec.rec-dot_active {
  background-color: var(--secondary-color);
  box-shadow: 0 0 1px 3px rgb(245 56 56 / 40%);
}

@media all and (max-width: 768px) {
  .rec.rec-slider-container {
    margin: 0px;
  }
  .rec.rec-arrow {
    display: none;
  }
  .partners {
    margin: 40px 0px 80px 0px;
  }
  .partners__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
  }
  .partners__item {
    width: 100%;
  }
}

@media all and (max-width: 1400px) {
  .container {
    padding: 0px 32px;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 0px 16px;
  }
  .decoration__lines {
    padding: 0px;
    list-style-type: none;
    position: absolute;
    bottom: -200px;
    right: -600px;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .decoration__lines_type_small {
    position: absolute;
    bottom: 0px;
    right: -800px;
  }
  .decoration__line {
    margin: 0px 0px 160px 0px;
    width: 1200px;
    height: 100px;
  }
  .decoration__line_number_one {
    margin: 0px 0px 40px 0px;
  }
  .decoration__line_number_two {
    margin: 0px 0px 40px 240px;
  }
  .decoration__line_number_three {
    margin: 0px 0px 40px 480px;
  }
  .logo {
    width: 116px;
    height: 30px;
  }
}
