.team {
  width: 100%;
  margin: 40px 0px;
}
.team__title {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  text-align: left;
  color: var(--title-color);
  position: relative;
  z-index: 5;
}
.team__list {
  width: 100%;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 40px;
}
.team__item {
  width: 100%;
  margin: 0px;
  padding: 40px;
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__item_type_leader {
  background-color: var(--main-color);
}
.team__item-img {
  margin: 0px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
.team__item-name {
  margin: 16px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: var(--title-color);
}
.team__item-name_type_leader {
  color: var(--white-color);
}
.team__item-description {
  margin: 8px 0px 20px 0px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  opacity: .5;
  color: var(--title-color);
}
.team__item-description_type_leader {
  color: var(--white-color);
}
.team__item-status {
  margin: auto 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--title-color);
}
.team__item-status_type_leader {
  color: var(--white-color);
}

@media all and (max-width: 1439px) {
  .team__list {
    grid-template-columns: repeat(3, auto);
  }
}

@media all and (max-width: 768px) {
  .team__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
  }
  .team__list {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .team__item {
    margin: 0px 0px 20px 0px;
    width: 100%;
    padding: 32px;
  }
  .team__item-img {
    width: 114px;
    height: 114px;
  }
  .team__item-name {
    font-size: 24px;
    line-height: 28px;
  }
  .team__item-description {
    font-size: 16px;
    line-height: 20px;
  }
  .team__item-status {
    font-size: 16px;
    line-height: 20px;
  }
}