.partners {
  width: 100%;
  margin: 160px 0px;
}
.partners__title {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  text-align: left;
  color: var(--title-color);
  position: relative;
  z-index: 5;
}
.partners__list {
  width: 100%;
  margin: 40px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
}
.partners__item {
  margin: 0px 40px 0px 0px;
  padding: 0px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  width: 290px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.partners__item:last-of-type {
  margin: 0px;
}
.partners__item-img {
  margin: 0px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
}